body {
  background-color: hsl(0, 0%, 8%);
  color: white;
  font-family: "Inter", sans-serif;
}

.profile-container {
  border-radius: 20px;
  background-color: hsl(0, 0%, 12%);
  margin: auto;
  width: 400px;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  margin-top: 100px;
  flex-direction: column;
  padding: 40px 20px;
}
@media (max-width: 768px) {
  .profile-container {
    background-color: hsl(0, 0%, 12%);
    margin: auto;
    width: 95%;
    margin: 100px 0;
    overflow: hidden;
  }
  body {
    overflow: hidden;
  }
}
.address {
  color: hsl(75, 94%, 57%);
  font-weight: 400;
  font-size: medium;
  margin: 5px;
}
.image-container {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  width: 100%;
  margin: auto;
}
.profile-img {
  padding: 20px;
  border-radius: 200px;
  width: 100px;
}

.name {
  font-weight: 400;
  margin: 0;
}
.headline {
  font-weight: 200;
  font-size: medium;
  margin: 15px 0 10px 0;
}
a {
  width: 100%;
}
i {
  margin: 0px 5px;
}
button {
  width: 90%;
  margin: 10px 20px;
  border-radius: 10px;
  padding: 20px;
  background-color: hsl(0, 0%, 20%);
  color: white;
  font-weight: 1000;
  cursor: pointer;
  border: none;
}
button:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 20%);
}
